.comments-section {
  position: relative;
  margin-top: em(65);
}

.comments-title,
.comments-title-secondary {
  font-family: $title-font-family-dark;
  font-weight: 400;
  font-size: em(26);
  letter-spacing: rem(2.5);
  line-height: 1;
  margin-bottom: rem(20);
  @media (max-width: em(768)) {
    font-size: em(21);
    letter-spacing: rem(2);
  }
}

.comments-title {
  display: inline-block;
  padding-right: rem(15);
  background: $clr-light;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: rem(16);
    left: 0;
    right: 0;
    border-top: rem(3) solid $clr-1;
    z-index: -1;
  }
}

.comments-intro {
  font-size: em(15);
  span {
    display: block;
    font-style: italic;
    color: $clr-0-light;
    margin-top: rem(10);
  }
}

ol.comment-list,
ol.children {
  @extend %list-reset
}

ol.children {
  padding-left: em(20);
  margin-top: em(20);
}

.comment-author {
  img {
    display: none;
  }
}

.comment-metadata {
  time {
    font-size: em(13);
    color: $clr-0-lighter;
  }
}

.comment-content {
  p:last-child {
    margin-bottom: rem(5);
  }
}

.reply a {
  font-size: em(14);
  color: $clr-0-light;
}

.comment-respond {
  margin-top: em(25);
}

.comment-form-cookies-consent {
  display: none;
}

.comment-form {
  input[type="submit"] {
    @extend %button;
    background: transparent;
    color: $clr-2;
    &:hover {
      background: $clr-2;
      color: $clr-light;
    }
  }
}
