.footer {
  text-align: center;
  padding-top: em(50);
  padding-bottom: em(20);

  .footer-title {
    position: relative;
    font-family: $tertiary-font-family;
    font-size: em(30);
    text-align: center;
    @media (max-width: em(990)) {
      font-size: em(25);
    }
    @media (max-width: em(550)) {
      font-size: em(19);
    }
    &:before,
    &:after {
      content: '';
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: rem(27);
      width: rem(126);
      background-image: url(images/arrow-brown.png);
      z-index: 2;
      @media (max-width: em(550)) {
        width: rem(40);
        height: rem(9);
        background-size: 100%;
      }
    }
    &:before {
      margin-right: rem(50);
      @media (max-width: em(550)) {
        margin-right: rem(15);
      }
    }
    &:after {
      margin-left: rem(50);
      transform: rotate(180deg);
      @media (max-width: em(550)) {
        margin-left: rem(15);
      }
    }
  }

  .socials-item a {
    color: $clr-1;
    &:hover,
    &:focus {
      color: $clr-2;
    }
  }
  

  .footer-copyright {
    font-size: em(14);
    margin-bottom: 0;
  }

}