.footer {
  text-align: center;
  padding-top: em(50);
  padding-bottom: em(20);

  .footer-title {
    position: relative;
    font-family: $title-font-family-secondary;
    font-size: em(54);
    text-align: center;
    &:before,
    &:after {
      content: '';
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: rem(27);
      width: rem(126);
      background-image: url(images/arrow-brown.png);
      z-index: 2;
    }
    &:before {
      margin-right: rem(50);
    }
    &:after {
      margin-left: rem(50);
      transform: rotate(180deg);
    }
  }

  .socials-item a {
    color: $clr-1;
    &:hover,
    &:focus {
      color: $clr-2;
    }
  }
  

  .footer-copyright {
    font-size: em(14);
    margin-bottom: 0;
  }

}