header {
  position: relative;
  z-index: 10!important;
  padding: em(20) 0;

  > .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: em(990)) {
      justify-content: flex-end;
    }
  }

}


.is-sticky {
  header {
    background: $clr-0-light;
    @media (max-width: em(990)) {
      background: $clr-1;
    }
  }
  .menu-list > li  a {
    color: $clr-0;
    &:hover,
    &:focus {
      color: $clr-0;
    }
  }
}