header {
  position: relative;
  z-index: 10!important;
  padding: em(20) 0;

  > .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: em(990)) {
      justify-content: flex-end;
    }
  }

}


.is-sticky {
  header {
    background: $clr-0-light;
  }
  .menu-list > li  a {
    color: $clr-0;
    @media (max-width: em(990)) {
      color: $clr-light;
    }
    &:hover,
    &:focus {
      color: $clr-0;
    }
  }
  .menu-list > li .sub-menu a {
    color: $clr-light;
    @media (max-width: em(990)) {
      color: rgba($clr-light, .6);
    }
    &:hover,
    &:focus {
      color: $clr-light;
    }
  }
  .hamburger:hover .hamburger-inner, 
  .hamburger:hover .hamburger-inner::before, 
  .hamburger:hover .hamburger-inner::after,
  .hamburger-inner, 
  .hamburger-inner::before, 
  .hamburger-inner::after {
    background-color: $clr-2;
  }
}