.section-hero {
  position: relative;
  min-height: em(570);
  background-size: cover;
  margin-top: em(-81);

  .wrapper {
    @media (max-width: em(1400)) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: $wrap-max-width;
    padding-top: em(150);
  }


  .hero-title {
    font-family: $title-font-family-secondary;
    font-size: em(91);
    font-weight: 400;
    color: $clr-light;
    text-align: center;
    margin: 0 0 rem(15);
  }

  .hero-baseline {
    font-weight: 400;
    font-size: em(40);
    color: $clr-0;
    letter-spacing: rem(1.2);
    text-align: center;
    line-height: 1;
    margin: 0;
  }

}