.section-hero {
  position: relative;
  min-height: em(570);
  background-size: cover;
  background-position: center left;
  margin-top: em(-81);
  @media (max-width: em(1280)) {
    margin-top: em(-77);
  }
  @media (max-width: em(990)) {
    min-height: em(470);
  }
  @media (max-width: em(550)) {
    min-height: em(400);
    //background-position: 87% 50%;
  }

  .wrapper {
    @media (max-width: em(1400)) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: $wrap-max-width;
    padding-top: em(150);
    @media (max-width: em(550)) {
      padding-top: em(100);
    }
  }


  .hero-title {
    position: relative;
    display: block;
    width: fit-content;
    //font-family: $title-font-family-secondary;
    font-family: $tertiary-font-family;
    font-size: em(80);
    font-weight: 400;
    color: $clr-light;
    text-align: left;
    margin: 0 auto rem(30);
    @media (max-width: em(990)) {
      font-size: em(60);
      margin-bottom: rem(10);
    }
    @media (max-width: em(550)) {
      font-size: em(40);
      margin-bottom: rem(5);
    }
    span {
      display: block;
      font-family: $base-font-family;
      font-size: rem(45);
      line-height: rem(65);
      text-align: right;
      padding-left: rem(310);
      @media (max-width: em(990)) {
        font-size: rem(30);
        line-height: rem(50);
        padding-left: rem(250);
      }
      @media (max-width: em(550)) {
        font-size: rem(25);
        line-height: rem(40);
        padding-left: rem(170);
      }
    }
  }

  .hero-baseline {
    font-weight: 400;
    font-size: em(40);
    color: $clr-light;
    letter-spacing: rem(1.2);
    text-align: center;
    line-height: 1;
    margin: 0;
    @media (max-width: em(990)) {
      font-size: em(28);
    }
    @media (max-width: em(550)) {
      font-size: em(21);
      line-height: 1.3;
    }
  }

}