// Header Menu
.menu-list {
  @extend %list-inline;
  position: relative;
  text-align: center;
  font-family: $title-font-family;

  > li {
    padding: 0 em(30);
    @media (max-width: em(1280)) {
      padding: 0 em(20);
    }
    @media (max-width: em(990)) {
      display: block;
      padding: em(10) 0;
    }
    &.has-submenu {
      > a {
        @media (max-width: em(990)) {
          color: rgba($clr-light, .6);
        }
      }
    }
    > a {
      font-size: em(22);    
      @media (max-width: em(1280)) {
        font-size: em(18);
      }
    }
    a {
      position: relative;
      display: inline-block;
      color: $clr-light;
      &:hover,
      &:focus {
        color: $clr-light;
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        display: block;
        width: 100%;
        border-top: rem(1) solid $clr-1;
        opacity: 0;
        transition: all .3s;
        margin-top: rem(2);
      }
    }
  }

  .sub-menu {
    @extend %list-reset;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    background: $clr-1;
    margin-top: em(10);
    padding: em(10) 0;
    box-shadow: rgba($clr-0-darken, .3) 0 em(2) em(4) 0;
    transition: all .3s;
    z-index: -10;
    @media (max-width: em(990)) {
      opacity: 1;
      position: relative;
      box-shadow: none;
      padding: 0;
      margin: 0;
    }

    &.is-active {
      opacity: 1;
      z-index: 10;
    }

    > li {
      padding: em(5) em(35);
      @media (max-width: em(1400)) {
        padding: em(5) em(20);
      }
      a {
        &:after {
          border-color: $clr-light;
        }
        &:hover:before {
          opacity: 1;
        }
        &:hover {
         font-weight: 400;
        }
      }
    }

  }
}

.menu-desktop {
  width: 100%;
  @media (max-width: em(990)) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: em(450);
    background-color: $clr-1;
    padding-top: em(80);
  }
  &.is-active {
    display: block
  }
}

.toggle-menu {
  display: none;
  @media (max-width: em(990)) {
    display: block;
  }
}


// Footer Menu
.footer-menu {
  a {
    font-size: em(14);
    + a {
      &:before {
        content: '|';
        margin-right: rem(5);
      }
    }
  }
}


