// Header Menu
.menu-list {
  @extend %list-inline;
  position: relative;
  font-family: $title-font-family;

  > li {
    padding: 0 em(30);
    > a {
      font-size: em(22);    
    }
    a {
      position: relative;
      display: inline-block;
      &:hover,
      &:focus {
        color: initial;
      }
      &:hover {
       font-weight: 700;
       margin: 0 rem(-3);
      }
    }
  }

}


// Footer Menu
.footer-menu {
  a {
    font-size: em(14);
    + a {
      &:before {
        content: '|';
        margin-right: rem(5);
      }
    }
  }
}


