// Header Menu
.menu-list {
  @extend %list-inline;
  position: relative;
  font-family: $title-font-family;

  > li {
    padding: 0 em(10);
    &.has-submenu {
      &:after {
        content: url(images/menu-arrow.svg);
        display: inline-block;
        margin-left: em(12);
      }
    }
    > a {
      font-size: em(22);
      @media (max-width: em(1400)) {
        font-size: em(18);
      }
    }
    a {
      position: relative;
      display: inline-block;
      &:hover,
      &:focus {
        color: initial;
      }
      &:hover,
      &.is-active {
       font-weight: 700;
       margin: 0 rem(-2);
       &:before {
        opacity: 1;
       }
      }
      &:before {
        content: '';
        position: absolute;
        bottom: rem(2);
        left: rem(-3);
        display: block;
        width: calc( 100% + 6px );
        border-bottom: rem(7) solid $clr-2;
        z-index: -1;
        opacity: 0;
        transition: all .3s;
      }
    }
  }

  .sub-menu {
    @extend %list-reset;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    background: $clr-light;
    margin-top: em(10);
    padding: em(10) 0;
    box-shadow: rgba($clr-0-darken, .3) 0 em(2) em(4) 0;
    transition: all .3s;
    z-index: -10;

    &.is-active {
      opacity: 1;
      z-index: 10;
    }

    > li {
      padding: em(5) em(35);
      @media (max-width: em(1400)) {
        padding: em(5) em(20);
      }
      a {
        &:before {
          border-color: $clr-1;
        }
        &:hover:before {
          opacity: 1;
        }
      }
    }

  }

}


// Footer Menu
.footer-menu {
  a {
    font-size: em(14);
    color: $clr-light;
    + a {
      &:before {
        content: '|';
        margin-right: rem(5);
      }
    }
  }
}


