.pagination {
  max-width: em(590);
  text-align: center;
  margin: 0 auto;
  
  .wp-pagenavi {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &:before {
      content: '';
      clear: both;
    }
  }

  a,
  span {
    font-family: $title-font-family;
    font-size: em(21);
    color: $clr-1;
    letter-spacing: rem(2);
    border: none;
    padding: 0;
    margin: rem(8);
  }

  a:hover,
  span.current {
    color: $clr-2;
  }

  .nextpostslink,
  .previouspostslink,
  .prev-post,
  .next-post {
    font-size: rem(21);
    margin: 0;
    @media (max-width: em(1280)) {
      font-size: rem(21);
    }
    i {
      font-size: rem(32);
      margin: 0 rem(10);
      @media (max-width: em(1280)) {
        font-size: rem(32);
      }
    }
  }

  .nextpostslink,
  .first,
  .next-post {
    i {
      transform: rotate(180deg);
    }
  }


  .first,
  .prev-post,
  .previouspostslink {
    float: left;
  }
  .last,
  .next-post,
  .nextpostslink {
    float: right;
  }

}