.section-prices {
  background: $clr-0-light;
  padding: em(55) 0;
  @media (max-width: em(768)) {
    text-align: center;
  }

  .section-title {
    margin-bottom: rem(45);
    @media (max-width: em(768)) {
      margin-top: rem(30);
    }
  }

  .prices-tx {
    p {
      font-size: em(25);
      margin-top: rem(5);
      @media (max-width: em(1280)) {
        font-size: em(18);
      }
      @media (max-width: em(550)) {
        font-size: em(16);
      }
    }
    h3,
    h4,
    h5 {
      font-weight: 400;
      font-size: em(23);
      text-transform: uppercase;
      margin: rem(35) 0 rem(5);
      @media (max-width: em(1280)) {
        font-size: em(21);
      }
      @media (max-width: em(550)) {
        font-size: em(18);
      }
    }
  }
}