.section-title {
  font-size: em(42);
  font-weight: 400;
  letter-spacing: rem(1.2);
  margin-bottom: rem(10);
}

.section-subtitle {
  font-size: em(28);
  font-weight: 400;
}

.section-tx {
  font-size: em(20);
}