.page-sidebar {
  text-align: center;
  > div {
    margin-bottom: em(50);
    @media (max-width: em(768)) {
      margin-bottom: em(30);
    }
  }
   h3 {
    font-family: $title-font-family-dark;
    font-weight: 400;
    font-size: em(26);
    letter-spacing: rem(2.5);
    text-align: center;
    @media (max-width: em(1280)) {
      font-size: em(24);
      letter-spacing: rem(2)
    }
    span {
      display: block;
      font-family: $base-font-family;
      font-size: rem(14);
      letter-spacing: rem(0.9);
    }
  }
  p {
    font-size: em(14);
    letter-spacing: rem(0.9);
  }
}

.menu-categories-menu-container {
  ul {
    @extend %list-reset;
    a {      
      display: block;
      width: 100%;
      font-family: $secondary-font-family;
      font-size: em(16);
      color: $clr-light;
      letter-spacing: rem(0.6);
      text-align: center;
      background: $clr-2;
      padding: rem(2) rem(10);
      margin-bottom: rem(15);
      transition: all .3s;
      &:hover {
        background: $clr-1;
      }
    }
  }
}



#sb_instagram {
  .sbi_load_btn {
    @extend %button;
    font-size: rem(15)!important;
    line-height: 1!important;
    border-radius: 0!important;
    background: transparent!important;
    border: rem(3) solid $clr-2!important;
    color: $clr-2!important;
    margin-top: rem(25)!important;
    padding: rem(7) rem(25)!important;
    &:hover,
    &:focus {
      background: $clr-2!important;
      color: $clr-light!important;
      box-shadow: none!important;
    }
  }
}







