.section-slider {
  position: relative;
  background-image: url(images/mandala.png);
  background-repeat: no-repeat;
  background-position: 125% 187%;
  padding: em(45) 0;
  @media (max-width: em(550)) {
    background-image: none;
    padding-top: 0;
  }
   &:after {
    content: '';
    display: block;
    position: absolute;
    top: em(330);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $clr-0-light;
    z-index: -1;
    @media (max-width: em(550)) {
      top: em(100);
    }
  }

  .slider {
    position: relative;
    margin-bottom: em(30);

    .slider-item {
      position: relative;
      .slider-title {
        position: absolute;
        top: rem(60);
        left: rem(70);
        right: rem(70);
        font-family: $title-font-family-secondary;
        font-size: em(72);
        color: $clr-light;
        text-align: center;
        text-shadow: 0 rem(2) rem(12) rgba(0,0,0,0.50);
        z-index: 2;
        @media (max-width: em(1280)) {
          font-size: em(50);
        }
        @media (max-width: em(550)) {
          top: rem(10);
          font-size: em(24);
        }
      }
    }

    .slick-arrow {
      display: inline-block;
      position: absolute;
      top: initial;
      bottom: rem(15);
      height: rem(60);
      transform: none;
      color: $clr-light;
      font-size: em(60);
      z-index: 2;
      transition: $trans;
      @media (max-width: em(1280)) {
        font-size: em(50);
      }
      @media (max-width: em(990)) {
        bottom: 0;
        font-size: em(40);
      }
      &:hover {
        color: $clr-2;
      }
      &.slick-prev {
        left: rem(20);
      }
      &.slick-next {
        right: rem(20);
        transform: rotate(180deg);
      }
      i {
        vertical-align: baseline;
        @media (max-width: em(1280)) {
          vertical-align: middle;
        } 
      }
    }
    .slick-dots {
      position: absolute;
      left: em(80);
      right: em(80);
      bottom: em(34);
      text-align: center;
      margin: 0;
      @media (max-width: em(1280)) {
        bottom: em(24);
      }
      @media (max-width: em(990)) {
        bottom: em(18);
      }
      @media (max-width: em(550)) {
        display: none;
      }
    }
  }

  .sep-arrow {
    display: block;
    margin: 0 auto em(45);
  }

  .btn {
    padding: rem(16) rem(50);
    &:after {
      width: calc( 100% - 100px);
    }
  }

}