.page-about {

  .page-title {
    position: relative;
    text-align: center;
    font-family: $title-font-family-dark;
    font-size: em(31);
    font-weight: 400;
    letter-spacing: rem(8);
    margin: rem(10) 0 rem(45);
    &:before,
    &:after {
      content: '.';
      color: $clr-1;
      margin: 0 rem(10);
    }
  }

  .about-tx {
    h2 {
      font-family: $title-font-family-dark;
      font-weight: 400;
      font-size: em(26);
      letter-spacing: rem(2.5);
      @media (max-width: em(450)) {
        font-size: em(21);
        letter-spacing: rem(2)
      }
    }
    p {
      font-size: em(14);
    }
  }

  .about-img {
    margin-top: em(30);
    img {
      @media (max-width: em(768)) {
        display: block;
        margin: 0 auto em(30);
      }
    }
  }

  .about-baseline {
    font-weight: 700;
    font-size: em(20);
    color: $clr-1;
    letter-spacing: rem(2);
    text-align: center;
    margin: rem(100) 0 rem(25);
    @media (max-width: em(1400)) {
      font-size: em(18);
    }
    @media (max-width: em(768)) {
      margin-top: rem(40)
    }
    @media (max-width: em(450)) {
      font-size: em(16);
    }
    &:after {
      content: url(images/sep.svg);
      display: block;
      margin: rem(40) auto 0;
    }
  }


  .projects {
    padding: 0 em(85);
    @media (max-width: em(768)) {
      padding: 0;
    }

    .projects-title {
      font-family: $title-font-family-dark;
      font-weight: 400;
      font-size: em(48);
      letter-spacing: rem(4.8);
      text-align: center;
      line-height: rem(64);
      @media (max-width: em(1400)) {
        font-size: em(40);
        letter-spacing: rem(4);
        line-height: rem(52);
      }
      @media (max-width: em(768)) {
        font-size: em(30);
        letter-spacing: rem(2);
        line-height: rem(35)
      }
      @media (max-width: em(450)) {
        font-size: em(24);
        letter-spacing: rem(1);
        line-height: rem(28)
      }
    }
    .projects-intro {
      font-size: em(14);
    }
    .projects-title,
    .projects-intro {
      max-width: rem(615);
      margin: 0 auto rem(50);
      @media (max-width: em(768)) {
        max-width: 100%;
        text-align: center;
      }
    }
    .projects-list {
      display: flex;
      @media (max-width: em(450)) {
        flex-direction: column;
      }
    }
    .project-item {
      display: inline-block;
      &:nth-child(2) {
        margin: 0 rem(30);
        @media (max-width: em(450)) {
          margin: rem(20) 0;
        }
      }
    }
    .btn-wrapper {
      margin: em(80) 0 em(60);
      .btn {
        padding-left: rem(120);
        padding-right: rem(120);
        @media (max-width: em(450)) {
          padding-left: rem(40);
          padding-right: rem(40);
        }
      }
    }
  }

  .follow-me {
    font-family: $title-font-family-dark;
    font-weight: 400;
    font-size: em(26);
    letter-spacing: rem(2.5);
    text-align: center;
  }

  .socials-list {
    text-align: center;
  }

}