.blog-header {
  text-align: center;

  

}


.blog-content {
  padding-bottom: em(100);
  @media (max-width: em(768)) {
    padding-bottom: 0;
  }
  .section-title {
    margin-bottom: rem(50);
  }
}
