body.home {


  header {
    > .wrapper {
      justify-content: center;
      @media (max-width: em(990)) {
        justify-content: flex-end;
      }
    }
  }

  .menu-list { 
    .sub-menu {
      background: rgba($clr-light, .5);
    }
  }



}